body {
    margin: 0 auto;
    background-color: #f8f8f8;
}

header {
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 2px 2px 4px lightgray;
    text-align: center;
}

header img {
    margin-top: 15px;
    height: 50px;
    padding-left: 40px;
}

.errorms{margin:0 auto;
    margin-top: 30px;
    width:400px;
    height: 35px;
    text-align: center;
}

.errorms p{
    color: red;
    background-color:#ffccdc;
}


.login {
    float: right;
    margin-top: 50px;
    margin-right: 20px;
    font-size: 14px;
}

.confirm{
    margin: 0 auto;
    border:lightgray solid 2px;
    width:600px;
    height:auto;
    background-color: white;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 4px 4px 4px lightgray;
}

.mail{
    text-align:left;
    margin-left:25%;
    margin-top: 10px;
}


.password{
    text-align: left;
    margin-left:25%;
    margin-top: 25px;
}

.hozon{
    text-align: left;
    margin-left:25%;
    margin-top: 25px;
}

.formbox{
    border:1px solid #dfdfdf;
    padding: 5px;
    color: #999;
    background: #fff;
}

.submit_button{
    border:1px solid lightgray;
    padding: :6px 10px 4px 10px;
    color: white;
    background-color: #31A263;
    border-radius: 5px;
    border-bottom: solid 2px gray;
    width:120px;
    margin-bottom: 15px;
}

.login_check {
    margin-left:25%;
    margin-top: 25px;
}

.confirm .login_button{
    text-align: center;
    margin-top: 20px;
}

.submit{
    display: inline-block;
}

footer{
    width:100%;
    height:40px;
    background-color: white;
    color: gray;
    text-align: center;
    line-height: 40px;
    font-size: 13px;
    border-top: lightgray solid 2px;
}